

.App {
  
  text-align: center;
  padding: 10px;
  opacity: 0.8;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.45);
 

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #dbe6e9;
}

.weather-info {
  width: 60%;
  margin: 20px auto;
  padding: 10px 40px 20px 40px;
  border-radius: 20px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.45);
  opacity: 0.7;
  font-weight: 700;
}

h1 {
  
  font-size: 50px;
 
}

.input-form {

  padding: 20px;
  opacity: 0.9;
  font-weight: 700;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.45);
}

.buttons button {
  padding: 5px;
  margin: 10px;
  font-weight: 700;
}

.message {
  font-size: 20px;
  color: rgb(202, 5, 5);
}